#root {
  max-width:1280px ; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
#sreachBox{
  background-color: white;
  border-radius: 5px;
}

#cold::before {
  content: "";
  position: fixed;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
   z-index: -1;
  background-image:linear-gradient(rgb(0 0 255 / 0.5), rgb(255 255 0 / 0.5)), url("https://images.unsplash.com/photo-1612208695882-02f2322b7fee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sZCUyMHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D");
   
}
#rain::before{
  content: "";
  position: fixed;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
   z-index: -1;
  background-image: url("https://plus.unsplash.com/premium_photo-1664303017917-71ebeb42343d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cmFpbiUyMHdlYXRoZXJ8ZW58MHx8MHx8fDA%3D");
}
#hot::before{
  content: "";
  position: fixed;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
   z-index: -1;
  background-image: url("https://images.unsplash.com/uploads/14121010130570e22bcdf/e1730efe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG90JTIwd2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
}